<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Free Time</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
  <script src="../scripts/app.js"></script>

</head>

<body>
  <div id="addTime" class="container">
    <div class="container calendar">
      Calendar will go here
    </div>
    <div class="row date">
      Date will go here
    </div>
    <div class="row range">
      <div class="col rangeBegin">
        Start
      </div>
      <div class="col rangeEnd">
        End
      </div>
    </div>
    <button class="btn btn-primary add">Add</button>
  </div>

</body>

</html>