#addTime{
  margin-top: 25px;
  width: 500px;
  height: 600px;
  border-style:solid;
  border-width:3px;
}

.calendar{
  margin-top:25px;
  width: 300px;
  height: 300px;
  border-style:solid;
  border-width:3px;
  text-align: center;
}

.date{
  width: 300px;
  height: 40px;
  border-style:solid;
  border-width:3px;
  margin: 0 auto;
  margin-top:25px;
}

.range{
  width: 300px;
  height: 40px;
  margin: 0 auto;
  margin-top:25px;
}

.rangeBegin{
  border-style:solid;
  border-width:3px;
}

.rangeEnd{
  border-style:solid;
  border-width:3px;
}

.add{
  margin-top:25px;
  margin-left: 40%;
  margin-right: 40%;
  background-color:black;
  width: 100px;
}
