.login,
.signUp {
  background-color: black;
}

#logins {
  width: 450px;
  height: 600px;
  position: absolute;
  margin-left: 0%;
  margin-right: 35%;
}

#signUp{
  margin-top: 25px;
  width: 500px;
  height: 600px;
  margin-bottom: 25px;
}