.calendar-form {
  height: 100%;
  width: 100%;
}
.submit {
  margin-bottom: 10px;
  margin-top: 15px;
}
.mycalendar {
  margin-left: -300px;
}
.label-form {
  margin-top: 2px;
}

#myEmail,
#todayDate,
#startTime,
#endTime,
#title,
#deadline {
  width: 300px;
}

<<<<<<< HEAD
#task {
  height: 250px;
  width: 300px;
}

=======
>>>>>>> master
h2 {
  width: 300px;
  margin-top: 10px;
}
.seeingAllEvents {
  margin-left: 50px;
}
.buttonEvents {
  text-align: center;
  width: 400px;
}
#SeeAll {
  margin-left: 100px;
}

#myEmail,
#todayDate {
  display: none;
}
