a{
  padding-right: 25px;
  color:black;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.navbar{
  margin: 0 auto;
}

.authorized{
  margin-left: 55%;
}

.unauthorized{
  margin-left: 75%;
}

.calendarIcon{
  height: 25px;
  margin-right: 5px;
}
